**/.vscode/*
*.code-workspace
*desktop.ini

**/__pycache__/**
**/.pio/**
**/*.log
Refactored_backend/node_modules

!**/launch.json

/Python_Backend/backend_env/*
!/Python_Backend/backend_env/requirements.txt